<!doctype html>
<html>
    <head>
        <title>Milk before cereal</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    </head>
    <body>

        {{{body}}}

    </body>
</html>
