<h2>Please tell us a little bit more about yourself (optional)</h2>
<form action="/profile" method="post">
            <div class="sign-container">

                <input name="age" placeholder="Age" type="text">
                <input name="city" placeholder="City" type="text">
                <input name="homepage" placeholder="Homepage" type="text">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <button id="continue-btn">Continue</button>
                {{> nav-menu}}
            </div>
        </form>
