<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

<div class="container-register">
<h1>Milk Before Cereal</h1>
<!-- <h4>Read more<h4> -->
<!-- <h2>The majority of humans follow the insane ritual that demands cereal to be poured before the milk. We are here to rewire your circuits, and to reset your mind into pouring the milk before the cereal.<br><br>Register here</h2> -->


<div id="menu-children">
<h3 id="register-me">Register</h3>
<h3 id="login-me"><a href="/log-in">Log in</a></h3>
</div>

<img id="arrow" src="arrow.png">

<form id="register-form" action="/register" method="post">
            <div class="register-inputs">
            <ul>
                <li><input name="first" placeholder="First name" type="text"></li>
                <li><input name="last" placeholder="Last name" type="text"></li>
                <li><input name="email" placeholder="Email" type="text"></li>
                <li><input name="password" placeholder="Password" type="password"></li>
                <li><input type="hidden" name="_csrf" value="{{csrfToken}}"></li>
                <li><button id="signup-btn">Go!</button><li>
                <ul>
            </div>
        </form>

        <div id="info-box">
        <p>We petition to stop discrimination against people who pour milk before cereal, because they're actually doint it right!
        <br><br>According to the latest research of International University of Breakfast Sciences, 6% of humans around the world are being bullied every day because, despite social pressure, they follow the sacred ritual of eating cereals in the only proper way: Milk Goes First.
        <br><br>
        Join our movement and let's make the world between 7:00 and 9:00 a.m. a better place!<br><br>
        </p>
        <div>


</div>


            <script src="register.js" charset="utf-8"></script>
    </body>
</html>
