<h2>The majority of humans follow the insane ritual that demands cereal to be poured before the milk. We are here to rewire your circuits, and to reset your mind into pouring the milk before the cereal.<br><br>Register here</h2>

<form action="/register" method="post">
            <div class="sign-container">
                <input name="first" placeholder="First name" type="text">
                <input name="last" placeholder="Last name" type="text">
                <input name="email" placeholder="Email Address" type="text">
                <input name="password" placeholder="Password" type="password">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <h3>If you are already a member, please <a href="/log-in">log in.</a></h3>
                <button id="signup-btn">Sign up</button>
            </div>
        </form>
