<h2>We the undersigned demand that the cereal be eaten properly </h2>


<div class="all-signers">
    <ul>
        {{#signers}}
            <li>{{first}} {{last}} | {{age}} | {{city}}</li>
        {{/signers}}
    </ul>

</div>
