<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <nav>
        <h4 class="nav-text">Thank you for becoming one of us!<h4>
        {{> nav-menu portfolio=true}}
        </nav>
        <img src="ryan.gif">
        <form action="/thank-you" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </form>

        <img src="{{image}}">



        <a href='/signed'>See all {{total}} signers</a>
    </body>
</html>
