<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <img src="ryan.gif">
        <form action="/thank-you" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        {{> nav-menu portfolio=true}}
                </form>
        <h1>Thank you for becoming one of us!</h1>

        <img src="{{image}}">



        <a href='/signed'>See all {{total}} signers</a>
    </body>
</html>
