<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container-petition">

        <h4 id="thanks-text">Thank you for supporting us, thus making yourself known as a man of refined taste and a precise understanding of what a real milk and cereal breakfast should be.<h4>

        <div class="nav">
        {{> nav-menu portfolio=true}}
    </div>
        <form action="/thank-you" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </form>

        <img id="signature-image" src="{{image}}">



        <a id="see-all" href='/signed'>see all {{total}} signers</a>
        <div>
    </body>
</html>
